<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>vuetest07_v-for</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p v-for="(score ,index) in scores">
                {{index+':'+score}}
            </p>
            <p v-for="(value,key,index) in dog">
                {{index +"."+key+':'+value}}
            </p>
            <p v-for="str in name">
                {{str}}
            </p>
        </div>
        <script>
//1创建vue实例
new Vue({
    el: '#app',
    data: {//vue 中的model 关联数据
      scores:[1,22,33,52],
      dog:{
          name:"dog",
          age:"2",
          xuetong:'京巴'
      },
      name:"king"
    }
})
        </script>
    </body>
</html>
